<%- include("./layout/header.ejs") %>
        <main class="product-details">
            <h2>Admin Log-In</h2>
             <p class="error"><%= error %> </p>

            <div>
                <form action="/admin/login" method="POST">
                
                    <div>
                        <label for="email">
                            <p>Email Address</p>
                        </label>
                        <input type="email" name="email" id="email" value="<%= form[0]?.email %>">
                    </div>
                    
                    <div>
                        <label for="password">
                            <p>Password</p>
                        </label>
                        <input type="password" name="password" id="password" value="">
                    </div>

                    <input type="submit" value="Log-In">

                </form>

            </div>
        </main>     
<%- include("./layout/footer.ejs") %>